*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.618;
    font-weight: 400;
    background-color: #0F0F0F;
    color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input {
    font: inherit;
    background-color: transparent;
    border: 0;
    outline: 0;
}

button {
    cursor: pointer;
}